{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/footer.css' %}">{% endblock styles %}

{% block content %}
<div class="container-fluid footer-container">
    <div class="container">
        <div class="row premiere-ligne-footer">
            <div class="col-md-5 col-sm-6 colonne1 mt-3">
                <h4><span>K.</span> <strong>Kama-Blog</strong></h4>
                <p class="text">Retourner chercher ce qui a été oublié.<br>
                    Une plateforme collaborative pour <br> 
                    la recherche historique africaine
                </p>
            </div>
            <div class="col-md-3 col-sm-6 colonne2 mt-3">
                <h4>Explorer</h4>
                <div class="liens">
                    <a href="{% url 'archives' %}">Archives</a>
                    <a href="">Theses & Mémoires</a>
                    <a href="">Podcasts</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 colonne3 mt-3">
                <h4>Contact</h4>
                <div class="liens">
                    <p><i class="fab fa-google"></i> Kamdembrice770@gmail.com</p>
                    <p><i class="fab fa-whatsapp"></i> +237- 691- 362- 532</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="derniere-ligne">
        <h6>&copy; 2025 Kama-Blog. Tout droits réservés</h6>
        <div class="icones-reseaux mt-3 mb-3">
            <a href=""><i class="fab fa-whatsapp"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-telegram"></i></a>
            <a href=""><i class="fab fa-x-twitter"></i></a>
        </div>
    </div>
</div>
{% endblock content %}