{% extends "base.html" %}
{% load static %}
{% block title %} Kama-blog | Articles page {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/articles/article_list.css' %}">{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include "navbar.html" %} 
    </div>
    <div class="container-fluid section1 mt-5"  data-aos="fade-right" data-aos-duration="2000">
        <div class="container">
            <h6>Archives & Recherche</h6>
            <h1>Catalogue des Travaux</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="links-nav">
            <a href="" class="active">Tous les sujets</a>
            <a href="">Egyptologie</a>
            <a href="">Peuplement & migrations</a>
            <a href="">Religions</a>
            <a href="">Politique</a>
            <a href="">Histoire du cameroun</a>
        </div>
    </div>
    <div class="row mt-2 mb-5 section2">
        {% for article in articles %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mt-3" data-aos="fade-up" data-aos-duration="2000">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="category">{{ article.category }}</p>
                                <p class="read-time">{{ article.created_at|timesince }}</p>
                            </div>
                            <a href="{% url 'article_detail' article.slug %}">
                                <h4>{{ article.title }}</h4>
                                <p class="text-card mt-3">{{ article.summary }}</p>
                            </a>
                            <hr>
                            <p class="author"><img src="{{ article.author.profile.photo.url }}"> {{ article.author }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="row text-center mb-5 btn-charger">
        <div class="col-md-4"></div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
            <button id="charger-resulat">Charger plus de résultat</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row newsletter mb-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card p-5" data-aos="fade-right" data-aos-duration="3000">
                <div class="card-title"><h4><i class="fas fa-envelope"></i> La Newsletter de Kama-Blog</h4></div>
                <p class="card-text">Recevez chaque semaine un résumé de nos recherches et découvertes archéologiques.</p>
                <form action="">
                    <input type="email" name="email" placeholder="VotreEmail@gmail.com">
                    <br>
                    <button type="submit" class="btn-newsletter">S'abonner</button>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--Footer-->
{% include "footer.html" %}

<script>
    AOS.init();
</script>
{% endblock content%}