.section1{
    margin-left:90px;
    color: white;
}
.section1 h1{
    font-family: 'Playfair Display', serif;
}
.section1 p{
    margin-top:20px;
    font-family:'Inter';
}
.search-bar{
    font-family:'Inter';
    display: flex;
}
.search-bar input{
    width: 100%;
    padding:10px;
}
.search-bar button{
    background-color: black;
    color: white;
    padding: 10px;
    border:none;
    cursor:pointer;
    width:80px;
}
.search-bar button:hover{
    background-color: #333333;
    transition: 0.9s;
}
.categorie-search{
    font-family:'Inter';
}
.categorie-search h3{
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.check-categorie input{
    padding:10px;
    accent-color: black;
}
.select-date select{
    width: 100%;
    padding: 10px;
    margin-top:10px;
}
.section2{
    font-family:'Inter';
    display: flex;
    justify-content: space-between;
}
.section2 .triage{
    display: flex;
}
.section2 .triage select{
    padding:5px;
}
.section2 .triage h6{
    font-size:15px;
    margin-top:5px;
    margin-right:3px;
}
.section2 h5{
    font-weight: bold;
    color: gray;
}
.articles-card .card .card-title{
    font-family: 'Playfair Display';
}
.articles-card .card .card-text{
    font-family: 'Inter';
}
.card-body .card-date{
    font-size:13px;
    color:gray;
}
.card-date i{
    margin-right:10px;
}
.card-summary{
    color: gray;
    font-size:13px;
}
.footer-card{
    display: flex;
    justify-content: space-between;
    margin:0px 10px 0px 10px;
    font-size:13px;
}
.footer-card a{
    text-decoration: none;
    color: brown;
}
.footer-card p{
    font-weight: bold;
    font-family: 'Playfair Display';
    font-style: italic;
}






/* Media query */
@media only screen and (max-width: 768px) {
    .section1{
        margin-left:20px;
    }
}