.category-section{
    font-family: 'Inter';
    border-bottom:3px solid rgb(184, 113, 56);
    padding: 10px;
}
.category-section h6{
    padding-right:20px;
    color:gray;
}
.category-section h6 span{
    font-weight: bold;
    color: black;
}
.detail-title h1{
    font-family:'Playfair Display';
    font-size:80px;
}
.author-detail{
    display: flex;
    justify-content: space-between;
}
.author-detail .photo-name{
    display: flex;
    font-family: 'Inter';
    font-size:18px;
}
.author-detail .share-favoris{
    display: flex;
}
.author-detail .share-favoris i{
    font-size:13px;
    margin-right:10px;
    padding: 20px;
    color: gray;
    border:1px solid gray;
    border-radius:50%;
    cursor: pointer;
    transition: all 0.3s;
}
.author-detail .share-favoris i:hover{
    border:1px solid black;
    color: black;
}
.author-detail .photo-name img{
    height: 30px;
    width:30px;
    border-radius: 50%;
    margin:0px 10px 0px 0px;
}
.img-illustration img{
    filter: brightness(50%);
    width: 100%;

}
.body-article{
    font-family: 'Inter';
}
.commentaire-title{
    font-family: 'Inter';
}
.commentaire-section{
    font-family: 'Inter';
    display: flex;
    gap:15px;
}
.commentaire-section img{
    margin-top:10px;
    height:45px;
    width: 45px;
    border-radius:50%;
}
.commentaire-section form textarea{
    resize: none;
    padding: 15px;
    border-radius:10px;
    width:100%;
    outline: none;
}
.commentaire-section form button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.comments {
    font-family: 'Inter';
    max-width: 780px;
    margin: 40px auto;
}
.comment {
    display: flex;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-body {
    flex: 1;
}
.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.username {
    font-weight:bold;
    font-family: 'JetBrains Mono';
}
.time {
    color: #888;
    font-size: 13px;
    font-family: 'JetBrains Mono';
}
.comment-text {
    margin-top: 6px;
    color: #444;
    font-size: 15px;
    line-height: 2;
}
.article-lié h3,.texte-si-pas-darticle{
    font-family: 'Playfair Display';
}
.article-lié h3{
    color: white;
    padding: 10px;
}
.card img{
    filter: brightness(70%);
    transition: all 0.3s;
}
.card img:hover{
    filter: brightness(100%);
}
.card .card-body h4{
    font-family: 'Playfair Display';
}
.card p:hover, h4:hover{
    color: rgb(184, 113, 56);
}
.card .card-body p{
    font-family:'Inter';
    margin-top:15px;
    font-size: 13px;
    color: gray;
}
.article-lié1 a{
    text-decoration: none;
}

@media only screen and (max-width:768px) {
    .detail-title h1{
        font-size:60px;
    }
}
@media screen and (max-width:375px){
    .detail-title h1{
        font-size:40px;
    }
}
@media screen and (max-width:425px) {
    .category-section h6{
        padding-right:10px;
        font-size:13px;
        color:gray;
    }
    .detail-title h1{
        font-size:40px;
    }
    .author-detail .photo-name{
        font-size:12px;
    }
    .author-detail .photo-name img{
        height: 20px;
        width:20px;
        border-radius: 50%;
        margin:0px 10px 0px 0px;
    }
    .author-detail .share-favoris i{
        font-size:8px;
        padding: 20px;
        color: gray;
    }
    .commentaire-section img{
        height:25px;
        width: 25px;
    }
    .comment {
        display: flex;
        gap: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    .avatar {
        width:25px;
        height:25px;
    }
    .comment-header {
        font-size: 14px;
    }
    .username {
        font-size:13px;
    }
    .time {
        font-size:10px;
    }
    .comment-text {
        font-size:12px;
        line-height: 2;
    }
    .body-article{
        font-size:15px;
    }
}