.category-section{
    font-family: 'Inter';
    border-bottom:3px solid rgb(184, 113, 56);
    padding: 10px;
}
.category-section h6{
    padding-right:20px;
    color:gray;
}
.category-section h6 span{
    font-weight: bold;
    color: black;
}
.detail-title h1{
    font-family:'Playfair Display';
    font-size:5vw;
}
.author-detail{
    display: flex;
    justify-content: space-between;
}
.author-detail .photo-name{
    display: flex;
    font-family: 'Inter';
    font-size:18px;
}
.author-detail .share-favoris{
    display: flex;
}
.author-detail .share-favoris i{
    font-size:13px;
    margin-right:10px;
    padding: 20px;
    color: gray;
    border:1px solid gray;
    border-radius:50%;
    cursor: pointer;
    transition: all 0.3s;
}
.author-detail .share-favoris i:hover{
    border:1px solid black;
    color: black;
}
.author-detail .photo-name img{
    height: 30px;
    width:30px;
    border-radius: 50%;
    margin:0px 10px 0px 0px;
}
.img-illustration img{
    filter: brightness(50%);
    width: 100%;

}
.body-article{
    font-family: 'Inter';
}