{% extends "base.html" %}
{% load static %}
{% block title %} Kama-Blog | Home page {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/authapp/home.css' %}">{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-12">
            {% include "navbar.html" %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="first-section">
                <h1 class="title">Réécrire l'histoire</h1>
                <h1 class="subtitle">Pour éclairer le futur.</h1>
                <p class="text">Une plateforme dédiée à la recherche historique <br>rigoureuse, 
                à l'exhumation des manuscrits oubliés et <br>à la renaissance intellectuelle africaine.</p>
                <div class="buttons-home-section mt-5">
                    <a href="" class="button1">Commencer la lecture</a>
                    <a href="" class="button2">Explorer les archives</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="second-section">
                <div class="head-second-section"><h4>Dossier à la une</h4><a href="" class="voir">Tout explorer <i class="fas fa-arrow-right"></i></a></div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}
