{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block title %} Kama-Blog | Login page {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/authapp/login.css' %}">{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include "navbar.html" %}
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-4 col-sm-3"></div>
            <div class="col-lg-4 col-sm-6 login">
                <div class="login-head text-center">
                    <h3>K.</h3>
                    <h4>Se connecter</h4>
                    <p>Accédez à votre bibliothèque personnelle.</p>
                    <a href="{% provider_login_url 'google' %}">
                        <img src="{% static 'images/google.png' %}" width="25px" height="25px">
                        Continuer avec Google
                    </a>
                    <div class="divider">
                        <span>OU PAR IDENTIFIANTS</span>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="namefield">
                        <label for="name">Nom</label><br>
                        <input type="text" name="name" id="name" placeholder="Votre nom" required>
                    </div>
                    <div class="passwordfield">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" placeholder="Votre mot de passe" required>
                    </div>
                    <div class="validationfield">
                        <button type="submit"><a href="">Se connecter</a></button>
                        <p>Pas encore de compte ? <a href="{% url 'register' %}">Créer un compte</a></p>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-sm-3"></div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock content%}