{% extends "base.html" %}
{% load static %}
{% block title %} Kama-Blog | Register Page {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/authapp/register.css' %}">{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include "navbar.html" %}
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6 col-xm-12" id="register">
                <br>
                <h3>Rejoindre  <span>K.</span> <strong>Kama-Blog</strong></h3>
                <h4>Participez à la reconstruction du récit</h4>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="avatar-container">
                        <div class="avatar-circle" id="avatarCircle">
                            <img id="avatarPreview" src="/static/images/default-avatar.png" alt="Photo">
                            <span class="camera-icon">📷</span>
                        </div>
                        <input type="file" id="avatarInput" name="photo" accept="image/*" hidden {% if not google_email %}required{% endif %}>
                    </div>
                    <p class="text-center">{% if google_email %}Ajouter une photo (optionnel){% else %}Ajouter une photo{% endif %}</p>
                    <div class="first-second-name">
                        <div class="first-name">
                            <label for="subname">Prénom</label><br>
                            <input type="text" name="subname" id="subname" placeholder="Votre prénom" value="{{ google_first_name }}" required>
                        </div>
                        <div class="second-name">
                            <label for="name">Nom</label><br>
                            <input type="text" name="name" id="name" placeholder="Votre nom" required>
                        </div>
                    </div>
                    <div class="emailfield">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" id="email" placeholder="Votre email@gmail.com" value="{{ google_email }}" {% if google_email %}readonly{% endif %} required>
                    </div>
                    <div class="passwordfield">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" placeholder="Votre mot de passe" required>
                    </div>
                    <div class="validationfield">
                        <button type="submit">Créer mon compte</button>
                        <p>Déjà membre ? <a href="{% url 'login_user' %}">Se connecter</a></p>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>
    </div>
    
{% include "footer.html" %}
</div>

{% block js %}<script src="{% static 'js/authapp/register.js' %}" defer></script>{% endblock js %}
{% endblock content%}