/* navbar classic */
nav{
    font-family: 'Playfair Display';
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-top:20px;
}
nav ul{
    display:flex;
    justify-content: space-around;
}
.logo h4 span{
    background-color: black;
    color:white;
    margin:5px;
    padding:5px;
}
body{
    padding-top: 80px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:black;
    transition: ease-out 0.1s;
}
nav ul li a:hover{
    border-bottom: 1px solid black;
}
.inscrire-button{
    background-color: black;
    color:white;
    padding: 15px 25px 15px 25px;
    border-radius:5px;
}
.inscrire-button:hover{
    opacity: 0.8;
    transition: 0.8s;
}
.burger-button{
    border: none;
    background-color: transparent;
    display: none;
}
.active{
    display: none;
}
#box{
    width: 100%;
}
#searchInput{
    padding:10px;
    border-top:none;
    border-right: none;
    border-left: none;
    outline: none;
}
#searchBox button{
    background-color: black;
    padding:10px;
    color: white;
    border: none;
}
#user-pp img{
    width: 30px;
    height:30px;
    border-radius:50%;
    object-fit: cover;
    margin-right:10px;
}

/* Mobile menu */
.mobile-menu{
    font-family: 'Playfair Display';
    padding-top:20px;
    background-color:rgb(231 229 228);
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:90%;
    z-index:99;
}
.mobile-menu #user-pp{
    list-style: none;
    color: black;

}
.mobile-menu #user-pp img{
    margin-right:10px;
}
.mobile-menu a{
    text-decoration: none;
    color:black;
    margin:20px 0px 20px 0px;
    transition: ease-in 0.1s;
}
.mobile-menu a:hover{
    border-bottom: 1px solid black;
}
.mobile-menu .register-button-mobile{
    background-color:black;
    padding: 10px 10px 10px 10px;
    color:white;
}
.mobile-menu .register-button-mobile:hover{
    opacity:0.8;
}
@media (max-width:768px){
    nav ul{
        justify-content: space-between;
    }
    .first-nav .items{
        display:none;
    }
    .first-nav .burger-button{
        display: block;
    }
    .first-nav ul .logo{
        margin-top:10px;
    }
}
