/* navbar classic */
nav{
    font-family: 'Playfair Display';
}
nav ul{
    display:flex;
    justify-content: space-around;
}
.logo h4 span{
    background-color: black;
    color:white;
    margin:5px;
    padding:5px;
    border-radius:5px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
nav ul li a:hover{
    border-bottom: 1px solid black;
    transition: 0.8s;
}
.inscrire-button{
    background-color: black;
    color:white;
    padding: 15px 25px 15px 25px;
    border-radius:5px;
}
.inscrire-button:hover{
    opacity: 0.8;
    transition: 0.8s;
}
/* Mobile menu */
.mobile-menu{
    padding-top:20px;
    background-color:black;
    border-radius: 10px;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:90%;
    z-index:99;
}
.mobile-menu a{
    text-decoration: none;
    color:white;
    margin:20px 0px 20px 0px;
}
.mobile-menu a:hover{
    border-bottom: 2px solid black;
}
.mobile-menu .shop-button-mobile{
    background-color: black;
    padding: 10px 10px 10px 10px;
    color:rgb(206, 202, 202);
}
.mobile-menu .shop-button-mobile:hover{
    opacity:0.7;
}
@media (max-width:990px){
    nav ul{
        justify-content: space-between;
    }
    .first-nav .items{
        display:none;
    }
    .first-nav ul .logo{
        margin-top:20px;
    }
}
