/* Styles for First home section */
.first-section{
    margin: 60px 0 20px 90px;
}
.first-section .title, .subtitle{
    font-size:80px;
}
.first-section .title{
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}
.first-section .subtitle{
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    color:gray;
}
.first-section .text{
    font-size:20px;
    margin-top:20px;
    font-family: 'Inter', sans-serif;
    color:#333333;
}
.buttons-home-section a{
    list-style: none;
}
.buttons-home-section .button1{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 15px;
}
.buttons-home-section .button1:hover{
    opacity: 0.8;
    transition: 0.8s;
}
.buttons-home-section .button2{
    text-decoration: none;
    border: 1px solid black;
    padding: 14px;
    color:black;
    font-family: 'Inter', sans-serif;
}
/* second section of home page */
.second-section{
    font-family: 'Inter', sans-serif;
}
.second-section .head-second-section{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.second-section .head-second-section .voir{
    text-decoration: none;
    color:gray;

}