/* Styles for First home section */
.first-section{
    margin: 60px 0px 20px 90px;
}
.first-section .title{
    font-size:80px;
}
.first-section .title{
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}
.first-section .subtitle{
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    color:gray;
}
.first-section .text{
    font-size:20px;
    margin-top:30px;
    font-family: 'Inter', sans-serif;
    color:#333333;
}
.buttons-home-section a{
    text-decoration: none;
}
.buttons-home-section .button1{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 15px;
}
.buttons-home-section .button1:hover{
    opacity: 0.8;
    transition: 0.8s;
}
.buttons-home-section .button2{
    border: 1px solid black;
    padding: 14px;
    color:black;
    font-family: 'Inter', sans-serif;
}
/* second section of home page */
.second-section .head-second-section{
    display: flex;
    justify-content: space-between;
    margin:10px;
    font-family: 'Inter', sans-serif;
}
.second-section .head-second-section h4{
    font-weight: bold;
}
.second-section .head-second-section .voir{
    text-decoration: none;
    color:gray;
}
.category, .summary{
    font-family:'Inter';
}
.title-article{
    font-family: "Playfair Display", sans-serif;
}
#articles-featured{
    background-color:rgb(231 229 228);
    padding:30px 20px;
}
#articles-featured .card{
    padding:50px;
}
#articles-featured .category1{
    font-family: 'Inter', sans-serif;
    color: rgb(237 114 16);
    margin-bottom:10px;
}
#articles-featured a{
    text-decoration:none;
    color: black;
}
#articles-featured a:hover{
    color: rgb(184, 113, 56);
}
/* sectio3 of home page */
.section3{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
}
.section3 .populaire{
    color:gray;
}
.section3 .sec3{
    display: flex;
    gap: 15px;
}
.section3 h4,.recent{
    font-weight:bolder;
}
.section4 .article-lien{
    text-decoration: none;
    color:black;
    transition: all 0.2s;
}
.section4 .article-lien:hover{
    color: rgb(237 114 16);
}
.section4 .image img{
    filter: brightness(60%);
    transition: ease-in 0.2s;
}
.section4 .image img:hover{
    filter: brightness(100%);
}
.section4 .text h3{
    font-family:'Playfair Display';
}
.section4 .text p{
    font-family:'Inter';
}
.auteur-article{
    display: flex;
    justify-content: space-around;
}
.section4 .text .auteur-article p{
    font-family:'JetBrains Mono';
}
.auteur-article img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right:10px;
}
.auteur-article .read-time{
    margin-right:10px;
    font-size: 13px;
    color: gray;
}
.section4 .text .category{
    color: rgb(237 114 16);
}
.section4 .text .publications-time{
    font-size:13px;
    color: gray;
}
/* Newsletter section */
.newsletter{
    background-color: rgb(231 229 228);
    padding: 40px 20px;
}
.newsletter .card .card-title h4{
    font-family:'Playfair Display', sans-serif;
}
.newsletter .card .card-title h4 i{
    color: rgb(184, 113, 56);
}
.newsletter .card .card-text, form{
    font-family:'Inter', sans-serif;
}
.newsletter form input{
    padding: 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    outline: none;
    border:1px solid gray;
}
.newsletter form button{
    background-color: black;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.newsletter form button:hover{
    opacity: 0.8;
    transition: 0.8s;
}
.newsletter form input,.newsletter form .btn-newsletter{
    width: 100%;
}
.hastag-categories h5{
    font-family: 'Inter', sans-serif;
    margin-bottom:30px;
}
.hastag-categories a{
    text-decoration: none;
    color:black;
    padding:10px;
    border-radius:5px;
    font-family:'Playfair Display', sans-serif;
}
.hastag-categories a:hover{
    background-color: black;
    color:white;
    transition: 0.8s;
    border: none;
}

/* Responsive */
@media screen and (max-width: 768px){
    .first-section{
        margin: 60px 3px 20px 10px;
    }
    .first-section .title{
        font-size:50px;
    }
    .first-section .subtitle{
        font-size:30px;
    }
    .first-section .text{
        font-size:18px;
        margin-top:30px;
    }
    #articles-featured .card{
        padding:15px;
    }
    #articles-featured .category1{
        font-size:12px;
    }
    .title-article{
        font-size:20px;
    }
    .summary{
        font-size:12px;
    }
}
@media screen and (max-width:425px) {
    .first-section .title{
        font-size:35px;
    }
    .first-section .subtitle{
        font-size:20px;
    }
    .first-section .text{
        font-size:12px;
    }
    .section3 h4{
        font-size:18px;
    }
    .section3 .sec3{
        font-size:13px;
    }
    .second-section .head-second-section h4{
        font-size:18px;
    }
    .second-section .head-second-section .voir{
        font-size:14px;
    }

}
@media screen and (max-width:375px){
    .buttons-home-section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .buttons-home-section .button1{
        margin-bottom:5px;
        padding:9px;
        border-radius: 10px;
    }
    .buttons-home-section .button2{
        padding:8px;
        border-radius:10px;

    }
    .section3 h4{
        font-size:18px;
    }
    .section3 .sec3 {
       font-size: 12px;
    }
}
@media screen and (max-width:320px) {
    .first-section .title{
        margin-top:20px;
        font-size:30px;
    }
    .first-section .subtitle{
        font-size:20px;
    }
    .first-section .text{
        font-size:12px;
    }
    .second-section .head-second-section h4{
        font-weight: bold;
        font-size:14px;
    }
    .second-section .head-second-section .voir{
        font-size:12px;
    }
    .section3 .populaire {
        color: gray;
    }
    .section3 .sec3 {
       font-size: 12px;
    }
    .section3 h4{
        font-weight: bolder;
        font-size:14px;
    }
    .section4 .text .auteur-article p{
        font-size: 10px;
    }
    .auteur-article img{
        width:20px;
        height:20px;
        border-radius: 50%;
        margin-right:3px;
    }
    .auteur-article .read-time{
        margin-right:3px;
        font-size: 10px;
    }
}