.login-head h3{
    font-family: 'Playfair Display', serif;
    background-color: black;
    color: white;
}
.login-head a{
    text-decoration: none;
    color: black;
    border:1px solid gray;
    padding: 10px;
    border-radius: 5px;
}
.login-head a:hover{
    opacity: 0.8;
}
.login-head{
    font-family: 'Inter';
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black; /* trait fin et noir */
}
.divider span {
  padding: 0 10px;
  font-size: 14px;
}
.login{
    border:1px solid gray;
    padding: 20px 20px 0px 20px;
    border-radius:10px;
}
.login form{
    font-family: 'Inter';
}
form .emailfield input, .passwordfield input{
    outline: none;
    padding: 10px;
    width: 100%;
}
form .validationfield button{
    margin-top:20px;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
}
form .validationfield button:hover{
    opacity: 0.8;
    cursor: pointer;
}
form .validationfield button a{
    text-decoration: none;
    color: white;
}
form .validationfield p a{
    font-weight: bold;
    color:black;
}
form .validationfield p{
    margin-top:20px;
    text-align: center;
    font-size:13px;
}